@{
  ViewData["Title"] = "Lugares";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

<body class="body2">

<div class="text-center letra">
  <h1 class="display-4">Ejercicios Físicos por Lugar</h1>
</div>

<div class="row mb-3">
  <div class="col-md-2">
    <label class="form-label">Desde</label>
    <input type="datetime-local" id="FechaDesdeBuscar" onchange="ListadoEjercicios()" class="form-control"
      value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" />
  </div>
  <div class="col-md-2">
    <label class="form-label">Hasta</label>
    <input type="datetime-local" id="FechaHastaBuscar" onchange="ListadoEjercicios()" class="form-control"
      value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" />
  </div>
</div>


  @* <button type="button" class="btn btn-success" onclick="NuevoRegistro()" data-bs-toggle="modal"
    data-bs-target="#ModalEjercicioFisico">
    <i class="fa-solid fa-square-plus"></i> Nuevo
  </button> *@



<div class="table-wrapper">
<table id="tabla-imprimir" class="table text-center table-dark table-borderedless table-striped table-condensed">
  <thead>
    <tr>
      <th class="anchoCelda">Lugar</th>
      <th class="text-center anchoCelda">Tipo</th>

      <th class="text-center anchoCelda">Inicio</th>
      <th class="text-center anchoCelda">Fin</th>
      <th class="text-center anchoCelda">Duración</th>
      @* <th class="anchoCelda">Estado Emocional Inicio</th>
      <th class="anchoCelda">Estado Emocional Fin</th> *@
      <th class="anchoCelda">Observaciones</th>
    </tr>
  </thead>
  <tbody id="tbody-ejerciciosfisicos">
  </tbody>
</table>
</div>

@* <!-- Modal -->
<div class="modal fade" id="ModalEjercFisico" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content bg-secondary">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title" id="ModalTitulo">Nuevo Ejercicio Físico</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <input type="hidden" id="EjercicioFisicoID" value="0" />
            <div class="mb-3 col-12">
              <label for="TipoEjercFisicoID" class="form-label">Tipo de Ejercicio</label>
              @Html.DropDownList("TipoEjercFisicoID", null, htmlAttributes: new { @class = "form-control" })
            </div>

            <div class="mb-3 col-6">
              <label for="FechaInicio" class="form-label">Inicio</label>
              <input type="datetime-local" id="FechaInicio" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
            </div>

            <div class="mb-3 col-6">
              <label for="EstadoEmocionalInicio" class="form-label">Estado Emocional Inicio</label>
              @Html.DropDownList("EstadoEmocionalInicio", null, htmlAttributes: new { @class = "form-control" })
            </div>

            <div class="mb-3 col-6">
              <label for="FechaFin" class="form-label">Fin</label>
              <input type="datetime-local" id="FechaFin" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
            </div>

            <div class="mb-3 col-6">
              <label for="EstadoEmocionalFin" class="form-label">Estado Emocional Fin</label>
              @Html.DropDownList("EstadoEmocionalFin", null, htmlAttributes: new { @class = "form-control" })
            </div>

            <div class="mb-3 col-12">
              <label for="Observaciones" class="form-label">Observaciones</label>
              <textarea id="observaciones" class="form-control"></textarea>
            </div>

            <div class="mb-3 col-12">
              <label for="LugarID" class="form-label">Lugar</label>
              @Html.DropDownList("LugarID", null, htmlAttributes: new { @class = "form-control" })
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="LimpiarModal()" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" onclick="GuardarRegistro()" class="btn btn-warning">Guardar</button>
      </div>
    </div>
  </div>
</div> *@

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

 @* <script src="~/js/ejercFisico.js"></script> *@
  <script src="~/js/ejerciciosPorLugar.js"></script>
}

  
</body>